**/server/venv
**/nodeServer/node_modules
**/frontend complete/node_modules
**/client/node_modules
**/nodeServer/.env
Adobe Premiere Pro Auto-Save
Adobe Premiere Pro Audio Previews
BTPDemoVideo.prproj
ThesisReport.rar